nav{
    box-shadow: 1px 1px 7px black;
    z-index: 2;
}
nav ul{
    margin-left: 10%;
}
@media (max-width:1000px) {
    nav ul{
        
    }
    nav ul li {
        width: 70px;
    }
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding-left: 20px;
} 
.active , nav ul li:hover{
    color:  #384aeb;
}
nav ul li a{
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: orangered;
}
nav ul li a:hover{
    color: #384aeb;
}
.nav-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-left: 30px;
}
.nav-end a{
    text-decoration: none;
    color: black;
    padding-left: 10px; 
}
@media (max-width:1000px) {
    .nav-end{
        display: none;
    }
}
sup{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    padding: 3px;
    font-size: 12px;
}
span img{
   width: 20px;
   height: 40px;
}
.dropdown-menu{
 color: orangered;
 background-color: orangered;
 opacity: 1;
 font-size: 12px;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}