*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
img {
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero.hero {
	background-image: linear-gradient(to right, #e7640c, #f0e218);
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: 900;
	color: #fff;
}

.main {
	margin-top: 70px;
}

.image-container {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
}

.text-section {
	max-width: 700px;
	padding: 1.5rem;
	text-align: center;
	background-color: white;
	z-index: 1;
}
.text-section h2,
.text-section p,
.quantity p {
	color: #000;
}

.text-section h2 {
	padding: 1.5rem 0;
	text-transform: capitalize;
}

.quantity {
	display: flex;
	justify-content: center;
	align-items: center;
}

.functionality {
	border: 1px solid #444;
	width: 150px;
	height: 70px;
	margin: 0 1rem;
	display: flex;
	justify-content: space-around;
	font-size: 3rem;
}

.quantity p {
	font-weight: 900;
}

.functionality span {
	padding: 2px 10px;
	color: #000;
}
.functionality span:nth-child(2) {
	background-color: #444;
	color: #fff;
}

.btn {
	border-radius: 5px;
	border: 1px solid #2577fd;
	color: #2577fd;
	padding: 1.5rem;
	margin-top: 5rem;
	background-color: white;
	transition: 0.3s;
}
.btn:hover {
	background-color: #2577fd;
	color: white;
}

.carousel-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -12rem;
	text-align: center;
}
.carousel {
	position: relative;
	overflow: hidden;
	width: 90vw;
	height: 55vh;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 500ms opacity ease-in-out;
	transition-delay: 200ms;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slide[data-active] {
	opacity: 1;
	transition-delay: 0ms;
	z-index: 1;
}

.carousel-btn {
	position: absolute;
	top: 50%;
	border: none;
	background: none;
	font-size: 4rem;
	z-index: 10;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.7);
	border-radius: 0.25rem;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.1);
	display: none;
}
.carousel-btn:hover,
.carousel-btn:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
	outline: 1px solid black;
}

.prev {
	left: 1rem;
}
.next {
	right: 1rem;
}

@media screen and (min-width: 40rem) {
	#hero.hero {
		height: 88vh;
	}

	.bottom-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: start;
	}

	.bottom-section .bottom-item {
		flex-basis: 40%;
		margin: 10px;
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 60rem) {
	.carousel-btn {
		display: block;
	}
}
