*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
img {
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero.hero {
	background-image: linear-gradient(to right, #e7640c, #f0e218);
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero h1 {
	text-align: center;
}

.main {
	margin-top: 70px;
}

.watch-display-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.watch-card {
	display: flex;
	flex-basis: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 3px 5px #444;
	width: 350px;
	margin: 10px;
	/* border-radius: 10px; */
}

.image-container {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
}
.image-container button {
	width: 100%;
	color: #444;
	background-color: #c2c2c2;
	border: none;
	padding: 1rem;
	position: relative;
	left: 0;
	bottom: -35px;
	transition: 0.4s;
}
.watch-card:hover button {
	bottom: 0;
}
.text-section {
	text-transform: capitalize;
	width: 100%;
	padding: 20px;
	text-align: center;
	color: #212c38;
	background-color: white;
	z-index: 1;
}
.text-section h3 {
	padding: 10px 0;
}

.carousel {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 80vh;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 500ms opacity ease-in-out;
	transition-delay: 200ms;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slide[data-active] {
	opacity: 1;
	transition-delay: 0ms;
	z-index: 1;
}

.carousel-btn {
	position: absolute;
	top: 50%;
	border: none;
	background: none;
	font-size: 4rem;
	z-index: 10;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.7);
	border-radius: 0.25rem;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.1);
}
.carousel-btn:hover,
.carousel-btn:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
	outline: 1px solid black;
}

.prev {
	left: 1rem;
}
.next {
	right: 1rem;
}
