*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: orangered;
}
#homepage{
    position: absolute;
    top: 20%;
}
.home-container{
    min-width: 100%;
}
.home-container-txt{
    max-width:60%;
    margin-top: 100px;
    margin-left: 20%;
}
.home-container-txt h1{
    font-size: 90px;
    font-weight: bold;
}
.home-container a{
    text-decoration: none;
    border: transparent;
    border-radius: 5px;
    padding: 9px 30px 9px 30px;
    color: white;
    background-color: orangered;
    font-size: 16px;
    font-weight: 500;
}
.home-container img{
    height: 70vh;
}
