* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
img {
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero.hero {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero h1 {
	text-align: center;
}

.main {
	/* min-width: 250px; */
	margin-top: 70px;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}
.main .filters {
	display: flex;
	margin: 5px 0;
}
.main .filter-menu {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main .filter-menu .filters p {
	padding: 15px;
}
#Select {
	border: none;
	background-color: #dfdfdf;
	border-radius: 20px;
	padding: 10px 5px;
	margin: 0 15px;
	height: 40px;
	letter-spacing: 0.2rem;
}
.watch-display-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.watch-card {
	display: flex;
	flex-basis: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 3px 5px #444;
	width: 350px;
	margin: 10px;
	/* border-radius: 10px; */
}

.image-container {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
	/* height: 60vh; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; */
}
.image-container button {
	width: 100%;
	color: #444;
	background-color: #c2c2c2;
	border: none;
	padding: 1rem;
	position: relative;
	left: 0;
	bottom: -35px;
	transition: 0.4s;
}
.watch-card:hover button {
	bottom: 0;
}
.text-section {
	text-transform: capitalize;
	width: 100%;
	padding: 20px;
	text-align: center;
	color: #212c38;
	background-color: white;
	z-index: 1;
}
.text-section h3 {
	padding: 15px 0;
}

.gist {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.sectionB {
	background-color: rgb(18, 18, 53);
	padding: 2rem;
	margin: auto;
	margin-top: 3.5rem;
	color: #c2c2c2;
	flex-basis: 80%;
	min-width: 10rem;
	max-width: 55rem;
	display: flex;
}
.sectionB div {
	padding: 0.5rem 0;
	height: 150px;
}
/* .sectionB div:nth-child(3) {
	border-top: 1px solid lightsteelblue;
	border-bottom: 1px solid lightsteelblue;
} */
.sectionB h2 {
	color: var(--Soft-orange);
}
.sectionB h3 {
	color: var(--Off-white);
	cursor: pointer;
}

@media screen and (min-width: 40rem) {
	.main .filter-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.watch-display-section {
		flex-direction: row;
		flex-wrap: wrap;
		/* max-width: 70%; */
	}
	.watch-card {
		flex-basis: 40%;
	}
}

@media screen and (min-width: 60rem) {
	.watch-display-section {
	}
	.watch-card {
		flex-basis: 25%;
	}
}
