* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
img {
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero.hero {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero h1 {
	text-align: center;
}

.main {
	/* min-width: 250px; */
	margin-top: 70px;
}
.main .filters {
	display: flex;
	margin: 5px 0;
}
.main .filter-menu {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main .filter-menu .filters p {
	padding: 15px;
}
#Select {
	border: none;
	background-color: #dfdfdf;
	border-radius: 20px;
	padding: 10px 5px;
	letter-spacing: 0.2rem;
}
.watch-display-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.watch-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 3px 5px #444;
	width: 350px;
	margin: 15px;
	border-radius: 10px;
}

.image-container {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
	/* height: 60vh; */
	/* display: flex;
	justify-content: center;
	align-items: center;
	text-align: center; */
}
.text-section {
	text-transform: capitalize;
	padding: 30px;
	text-align: right;
}

@media screen {
}
