* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
}
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
img {
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#hero.hero {
	background-image: linear-gradient(to right, #e7640c, #f0e218);
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.hero h1 {
	text-align: center;
}

.main {
	/* min-width: 250px; */
	margin-top: 70px;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */
}
.main .filters {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	margin: 5px;
}
.main .filter-menu {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 1200px;
	margin: auto;
}

.main .filter-menu .filters p {
	padding: 15px;
}
#Select {
	border: none;
	background-color: #dfdfdf;
	border-radius: 20px;
	padding: 10px 5px;
	margin: 0 15px;
	height: 40px;
	letter-spacing: 0.2rem;
}
.watch-display-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.watch-card {
	display: flex;
	flex-basis: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 3px 5px #444;
	width: 350px;
	margin: 10px;
	/* border-radius: 10px; */
}

.image-container {
	background-image: linear-gradient(to right, #444, grey);
	width: 100%;
}
.image-container button {
	width: 100%;
	color: #444;
	background-color: #c2c2c2;
	border: none;
	padding: 1rem;
	position: relative;
	left: 0;
	bottom: -35px;
	transition: 0.4s;
}
.watch-card:hover button {
	bottom: 0;
}
.text-section {
	text-transform: capitalize;
	width: 100%;
	padding: 20px;
	text-align: center;
	color: #212c38;
	background-color: white;
	z-index: 1;
}
.text-section h3 {
	padding: 10px 0;
}

.gist {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.sectionB {
	background-color: rgb(18, 18, 53);
	padding: 2rem;
	margin: auto;
	margin-top: 3.5rem;
	color: #c2c2c2;
	width: 80%;
}
.sectionB div {
	flex-basis: 95%;
	padding: 0.5rem 0;
	/* height: 150px; */
	/* width: 600px; */
}
.sectionB h3 {
	cursor: pointer;
	padding: 20px;
}

.backToTop {
	background-image: linear-gradient(to right, #e7640c, #f0e218);
	width: 3rem;
	height: 3rem;
	position: fixed;
	bottom: 50px;
	right: 50px;
	border-radius: 50%;
	z-index: 100;
	text-align: center;
	color: #dfdfdf;
	font-size: 2rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
}

@media screen and (min-width: 40rem) {
	#hero.hero {
		height: 88vh;
	}
	.main .filter-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.watch-display-section {
		flex-direction: row;
		flex-wrap: wrap;
		/* max-width: 70%; */
	}
	.watch-card {
		flex-basis: 40%;
	}

	.sectionB {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: start;
	}

	.sectionB div {
		flex-basis: 40%;
		margin: 10px;
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 60rem) {
	/* .watch-display-section {
	} */
	.watch-card {
		flex-basis: 25%;
	}
	.sectionB div {
		flex-basis: 28%;
	}
}
